.product-card {
  background: white;
  border-radius: 18px;
  border: 1px solid #e5e7eb;
  display: grid;
  grid-template-rows: 220px 1fr 52px;
  overflow: hidden;
  height: 100%;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;

  /* CRITICAL */
  grid-auto-rows: 1fr;
  align-items: stretch;
}

/* IMAGE */
.pc-image {
  position: relative;
  padding: 12px;
  background: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pc-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* SALE */
.pc-sale {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #ef4444;
  color: white;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: 600;
}

/* WISHLIST */
.pc-wish {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: white;
  border: 1px solid #e5e7eb;
  display: grid;
  place-items: center;
}

/* BODY */
.pc-body {
  padding: 12px 14px;
  display: grid;
  grid-template-rows: 16px 40px 18px 26px auto;
  gap: 4px;
}

.pc-brand {
  font-size: 12px;
  color: #6b7280;
}

.pc-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: black !important;
}

.pc-rating {
  font-size: 12px;
  color: #f59e0b;
}

.pc-price {
  font-size: 18px;
  font-weight: 700;
}

.pc-price del {
  font-size: 14px;
  color: #9ca3af;
  margin-left: 6px;
}

/* VARIANT */
.pc-variant {
  font-size: 12px;
  padding: 4px;
}

/* BUTTON */
.pc-cart {
  border: none;
  background: #e0f2fe;
  color: #0284c7;
  font-weight: 600;
  font-size: 14px;
}
